# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
*.numbers
bom.ini

_saved*
_autosave-*
*.tmp
rescue-backup

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

# Other Exported files
*.pdf

code/vhdl/edcMuxBoard/stdout.log


# *.tcl

*.log
